@page
@model TeknoForce.Pages.Contact.Branches.EditModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Şube Düzenle";
}
<div class="admin-card">
<h3>Şube Düzenle</h3>
</div>
<form method="post" class="card">
    <div class="admin-card">
        <input type="hidden" asp-for="Branch.ContactBranchId" />

        <div class="mb-3">
            <label class="form-label">Şube Adı</label>
            <input asp-for="Branch.ContactName" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Adres</label>
            <textarea asp-for="Branch.Address" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Google Maps Iframe</label>
            <textarea asp-for="Branch.MapIframe" class="form-control"></textarea>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.902259336927!2d29.265895011318385!3d40.874019127562185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadd76c50a5337%3A0x4188f800fe1a785b!2sX-Force%20Boyama%20Teknolojileri!5e0!3m2!1str!2str!4v1772615678195!5m2!1str!2str"
                    width="100%"
                    height="250"
                    style="border:0; border-radius:10px;"
                    allowfullscreen=""
                    loading="lazy">
            </iframe>
        </div>

        <div class="form-check mb-3">
            <input asp-for="Branch.IsActive" class="form-check-input" />
            <label class="form-check-label">Aktif</label>
        </div>

        <button type="submit" class="btn btn-success">
            Güncelle
        </button>

        <a asp-page="Index" class="btn btn-secondary">
            Geri
        </a>

    </div>
</form>
