<div class="brand__section brand__section-two section--padding pt-0">
    <div class="container">
        <div class="brand__section--inner brand__logo--activation swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brang__logo--items">
                        <img class="brang__logo--img" src="~/theme/assets/img/logo/brand-logo1.webp" alt="brand-logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brang__logo--items">
                        <img class="brang__logo--img" src="~/theme/assets/img/logo/brand-logo2.webp" alt="brand-logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brang__logo--items">
                        <img class="brang__logo--img" src="~/theme/assets/img/logo/brand-logo3.webp" alt="brand-logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brang__logo--items">
                        <img class="brang__logo--img" src="~/theme/assets/img/logo/brand-logo4.webp" alt="brand-logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brang__logo--items">
                        <img class="brang__logo--img" src="~/theme/assets/img/logo/brand-logo5.webp" alt="brand-logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brang__logo--items">
                        <img class="brang__logo--img" src="~/theme/assets/img/logo/brand-logo6.webp" alt="brand-logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brang__logo--items">
                        <img class="brang__logo--img" src="~/theme/assets/img/logo/brand-logo7.webp" alt="brand-logo">
                    </div>
                </div>
            </div>
            <div class="swiper__nav--btn swiper-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" -chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            </div>
            <div class="swiper__nav--btn swiper-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" -chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
            </div>
        </div>
    </div>
</div>