<div class="container">
    <div class="row mb--n30">
        <div class="col-lg-6 col-md-6 mb-30">
            <div class="banner__box border-radius-5 position-relative">
                <a class="display-block" href="/">
                    <img class="banner__box--thumbnail border-radius-5" src="~/theme/assets/img/banner/banner9.webp" alt="banner-img">
                    <div class="banner__box--content">
                        <h2 class="banner__box--content__title ">Cosmetic Cream Packs</h2>

                        <p class="banner__box--content__desc">Freshwater pearl necklace and earrings</p>
                        <span class="banner__box--content__btn primary__btn">EXPLORE </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-30">
            <div class="banner__box border-radius-5 position-relative">
                <a class="display-block" href="/">
                    <img class="banner__box--thumbnail border-radius-5" src="~/theme/assets/img/banner/banner10.webp" alt="banner-img">
                    <div class="banner__box--content">
                        <h2 class="banner__box--content__title ">Organic Serium</h2>
                        <p class="banner__box--content__desc">Freshwater pearl necklace and</p>
                        <span class="banner__box--content__btn primary__btn style2">EXPLORE </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>